.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .5rem;
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        li {
            margin: .9rem;
            a {
                text-decoration: none;
                color: #808080;
            }
        }
    }
}